---
interface Props {
    startDate: string;
    endDate: string;
    company: string;
    position?: string;
    descriptions?: string[];
}

const { startDate, endDate, company, position, descriptions } = Astro.props;
---

<div>
    <p class="text-sm text-gray-500">{startDate} ~ {endDate}</p>
    <h3 class="font-bold mt-1 text-gray-800">
        {company} - {position}
    </h3>
    {
        descriptions && (
            // Certificationsのリストはspace-y-2だが、一つの塊であることと、読みやすさを両立しspace-y-1.5としている
            <ul class="mt-1 list-disc list-inside text-gray-700 space-y-1.5">
                {descriptions?.map((description) => (
                    <li>{description}</li>
                ))}
            </ul>
        )
    }
</div>
